.textarea {
    padding: 7px 15px;
    width: 100%;

    color: var(--black);
    outline-color: var(--primary);
    border-radius: 5px;
    background: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    border: none;

    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-family);
}

.textarea::placeholder {
    color: var(--gray-light);
}

.error {
    border: 1px solid var(--red)
}

.textareaWrapper {
    position: relative;
}

.message {
    position: absolute;
    bottom: -15px;
    left: 0;
    color: var(--red)
}
